# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,31.12,69,100,1.36,overcast clouds
1,1,Ponta Do Sol,PT,32.6667,-17.1000,75.70,86,92,1.30,overcast clouds
2,2,Guayaramerin,BO,-10.8368,-65.3614,93.25,49,40,12.66,scattered clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,63.18,90,100,3.00,overcast clouds
4,4,Bluff,NZ,-46.6000,168.3333,36.81,69,89,23.06,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [33]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [35]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ponta Do Sol,PT,32.6667,-17.1000,75.70,86,92,1.30,overcast clouds
7,7,Pangai,TO,-19.8000,-174.3500,75.31,94,75,6.91,broken clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,82.74,74,94,17.40,moderate rain
12,12,Coruripe,BR,-10.1256,-36.1756,83.23,60,82,9.86,broken clouds
21,21,Mayumba,GA,-3.4320,10.6554,76.77,86,88,9.08,light rain
25,25,Butaritari,KI,3.0707,172.7902,81.57,71,28,20.65,scattered clouds
27,27,Touros,BR,-5.1989,-35.4608,84.85,60,1,17.67,clear sky
30,30,Micheweni,TZ,-4.9667,39.8333,76.19,82,57,13.82,broken clouds
31,31,Cartagena,CO,10.3997,-75.5144,80.22,83,75,9.22,light intensity drizzle
33,33,Coromandel,BR,-18.4733,-47.2003,86.43,37,19,4.70,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [36]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ponta Do Sol,PT,32.6667,-17.1000,75.70,86,92,1.30,overcast clouds
7,7,Pangai,TO,-19.8000,-174.3500,75.31,94,75,6.91,broken clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,82.74,74,94,17.40,moderate rain
12,12,Coruripe,BR,-10.1256,-36.1756,83.23,60,82,9.86,broken clouds
21,21,Mayumba,GA,-3.4320,10.6554,76.77,86,88,9.08,light rain
25,25,Butaritari,KI,3.0707,172.7902,81.57,71,28,20.65,scattered clouds
27,27,Touros,BR,-5.1989,-35.4608,84.85,60,1,17.67,clear sky
30,30,Micheweni,TZ,-4.9667,39.8333,76.19,82,57,13.82,broken clouds
31,31,Cartagena,CO,10.3997,-75.5144,80.22,83,75,9.22,light intensity drizzle
33,33,Coromandel,BR,-18.4733,-47.2003,86.43,37,19,4.70,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [37]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp      Current Description      Lat       Lng
1   Ponta Do Sol      PT     75.70          overcast clouds  32.6667  -17.1000
7         Pangai      TO     75.31            broken clouds -19.8000 -174.3500
9      Hithadhoo      MV     82.74            moderate rain  -0.6000   73.0833
12      Coruripe      BR     83.23            broken clouds -10.1256  -36.1756
21       Mayumba      GA     76.77               light rain  -3.4320   10.6554
25    Butaritari      KI     81.57         scattered clouds   3.0707  172.7902
27        Touros      BR     84.85                clear sky  -5.1989  -35.4608
30     Micheweni      TZ     76.19            broken clouds  -4.9667   39.8333
31     Cartagena      CO     80.22  light intensity drizzle  10.3997  -75.5144
33    Coromandel      BR     86.43               few clouds -18.4733  -47.2003

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [38]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ponta Do Sol,PT,75.70,overcast clouds,32.6667,-17.1000,
7,Pangai,TO,75.31,broken clouds,-19.8000,-174.3500,
9,Hithadhoo,MV,82.74,moderate rain,-0.6000,73.0833,
12,Coruripe,BR,83.23,broken clouds,-10.1256,-36.1756,
21,Mayumba,GA,76.77,light rain,-3.4320,10.6554,
25,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,
27,Touros,BR,84.85,clear sky,-5.1989,-35.4608,
30,Micheweni,TZ,76.19,broken clouds,-4.9667,39.8333,
31,Cartagena,CO,80.22,light intensity drizzle,10.3997,-75.5144,
33,Coromandel,BR,86.43,few clouds,-18.4733,-47.2003,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [39]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [40]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ponta Do Sol,PT,75.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
7,Pangai,TO,75.31,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
9,Hithadhoo,MV,82.74,moderate rain,-0.6000,73.0833,Scoop Guest House
12,Coruripe,BR,83.23,broken clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
21,Mayumba,GA,76.77,light rain,-3.4320,10.6554,LIKWALE LODGE
25,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
27,Touros,BR,84.85,clear sky,-5.1989,-35.4608,INN NEW HORIZON
30,Micheweni,TZ,76.19,broken clouds,-4.9667,39.8333,
31,Cartagena,CO,80.22,light intensity drizzle,10.3997,-75.5144,Hotel Colombia Real - Cartagena
33,Coromandel,BR,86.43,few clouds,-18.4733,-47.2003,Hotel Dona Adélia

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [42]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ponta Do Sol,PT,75.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
7,Pangai,TO,75.31,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
9,Hithadhoo,MV,82.74,moderate rain,-0.6000,73.0833,Scoop Guest House
12,Coruripe,BR,83.23,broken clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
21,Mayumba,GA,76.77,light rain,-3.4320,10.6554,LIKWALE LODGE
25,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
27,Touros,BR,84.85,clear sky,-5.1989,-35.4608,INN NEW HORIZON
30,Micheweni,TZ,76.19,broken clouds,-4.9667,39.8333,
31,Cartagena,CO,80.22,light intensity drizzle,10.3997,-75.5144,Hotel Colombia Real - Cartagena
33,Coromandel,BR,86.43,few clouds,-18.4733,-47.2003,Hotel Dona Adélia

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [43]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [44]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [45]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [46]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.7 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ha'apai Beach Resort</dd>\n<dt>City</dt><dd>Pangai</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.31 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>moderate rain and 82.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada e Hotel Litoral Sul</dd>\n<dt>City</dt><dd>Coruripe</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>LIKWALE LODGE</dd>\n<dt>City</dt><dd>Mayumba</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Current Weather</dt><dd>light rain and 76.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Micheweni</dd>\n<dt>Country</dt><dd>TZ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Colombia Real - Cartagena</dd>\n<dt>City</dt><dd>Cartagena</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>light intensity drizzle and 80.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Dona Adélia</dd>\n<dt>City</dt><dd>Coromandel</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 86.43 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [47]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   32.6667  -17.1000
7  -19.8000 -174.3500
9   -0.6000   73.0833
12 -10.1256  -36.1756
21  -3.4320   10.6554
25   3.0707  172.7902
27  -5.1989  -35.4608
30  -4.9667   39.8333
31  10.3997  -75.5144
33 -18.4733  -47.2003

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [48]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))